@font-face {
    font-family: "SFProB";
    src: url("~/assets/fonts/SF-Pro-Display-Semibold.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "SFProL";
    src: url("~/assets/fonts/SF-Pro-Display-Light.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "SFProT";
    src: url("~/assets/fonts/SF-Pro-Display-Thin.otf") format("opentype");
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "SFProL";
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bold {
    font-family: "SFProB";
}

.thin {
    font-family: "SFProT";
}

@media screen and (max-width: 350px) {
    .phone {
        transform: scale(0.8);
    }
}
